body {
  background: red;
  color: $foreground-color;
  font-family: "DINP-R", arial, serif;
  font-size: 1.3em;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
  background-color: #333333;
  height: 100%;
  position: relative;
}

.header {
  height: 146px;
  width: 100%;
}

.header-top {
  width: 100%;
  height: 80px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 90px;

  &__circle {
    width: 48px;
    height: 48px;
    border: 3px solid #74c4ff;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 40px;
  }

  &__text {
    display: inline-block;
    color: #8a72ff;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    background: #333333;
    width: 93px;
    height: 28px;
    left: 15px;
    top: 8px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;

  &_active {
    background-color: #74c4ff;
    color: black;
  }
}

.rectangle {
  border: 2px solid #be72ff;
  width: 201px;
  height: 33px;
  right: 40px;
  top: 49px;
  position: absolute;
  display: inline-block;
  border-radius: 3px;
}

.logo__search {
  display: inline-block;
  position: absolute;
  width: 72px;
  height: 31px;
  right: 39px;
  top: 49px;
  background: #be72ff;
  color: black;
  font-style: normal;
  font-weight: bold;
}

.search {
  height: 31px;
  right: 40px;
  top: 41px;
}

.main {
  width: 100%;
  height: 900px;
  margin-top: 24px;
}

.article {
  position: absolute;
  width: 100%;
  height: 500px;
  background: url("../images/content/mountain_goat.png");
  background-size: cover;

  &__title {
    color: #74c4ff;
    font-size: 80px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 350px;
    text-shadow: 0px 0px 5px #333;
  }

  &_text {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 600px;
    text-shadow: 0px 0px 6px #333;
  }

  &_tab {
    background: #be72ff;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    width: 125px;
    text-align: center;
    box-shadow: 0px 0px 5px #333;
    font-size: 17px;
  }
}

.posts {
 display: flex;
  flex-flow: column wrap;
  height: 100%;

}

.posts_section {
  width: 40%;
  height: 40%;
}
