body {
  background: red;
  color: $foreground-color;
  font-family: "DINP-R", arial, serif;
  font-size: 100%;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
  background-color: #333333;
}

.header {
  width: 100%;
  height: 146px;
}

.header-top {
  width: 100%;
  height: 80px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 90px;

  &__circle {
    width: 48px;
    height: 48px;
    border: 3px solid #74c4ff;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 40px;
  }

  &__text {
    display: inline-block;
    color: #8a72ff;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    background: #333333;
    width: 93px;
    height: 28px;
    left: 15px;
    top: 8px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;

  &_active {
    background-color: #74c4ff;
    color: black;
  }
}

.rectangle {
  border: 2px solid #be72ff;
  width: 201px;
  height: 33px;
  right: 40px;
  top: 49px;
  position: absolute;
  display: inline-block;
  border-radius: 3px;
}

.logo__search {
  display: inline-block;
  position: absolute;
  width: 72px;
  height: 31px;
  right: 39px;
  top: 49px;
  background: #be72ff;
  color: black;
  font-style: normal;
  font-weight: bold;
}

.search {
  height: 31px;
  right: 40px;
  top: 41px;
}

.main {
  width: 100%;
  height: 2900px;
  margin-top: 24px;
}

.article {
  position: static;
  width: 100%;
  height: 500px;
  background: url("../images/content/mountain_goat.png");
  background-size: cover;

  &__title {
    color: #74c4ff;
    font-size: 80px;
    font-weight: bold;
    margin-left: 40px;
    padding-top: 20px;
    margin-right: 350px;
    text-shadow: 0px 0px 5px #333;
  }

  &_text {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 600px;
    text-shadow: 0px 0px 6px #333;
  }

  &_tab {
    background: #be72ff;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    width: 125px;
    text-align: center;
    box-shadow: 0px 0px 5px #333;
    font-size: 17px;
  }
}

.posts {
  display: flex;
  flex-flow: column wrap;
  height: 700px;
  width: 1680px;
  margin-left: 10%;
  font-size: 16px;

  &_section {
    width: 585px;
    height: 350px;
  }
  &__section {
    width: 585px;
    height: 300px;
    padding-block: 150px;
  }
}

.cap {
  display: flex;
  padding-top: 55px;
  position: fixed-box;
  padding-bottom: 30px;

  &_pink_point {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 21px;
    background: #be72ff;
    border-radius: 100%;
  }

  &_blu_point {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 21px;
    background: #74c4ff;
    border-radius: 100%;
  }
  &_name_post {
    position: static;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: bold;
  }

  &_pink_line {
    width: 330px;
    height: 16px;
    background: #be72ff;
    padding-top: 19px;
  }

  &_blu_line {
    position: static;
    width: 330px;
    height: 16px;
    background: #74c4ff;
    padding-top: 19px;
  }
  &_pink_line_2 {
    width: 1550px;
    height: 16px;
    background: #be72ff;
    padding-top: 19px;
  }
}

.matter {
  display: flex;
  align-content: space-between;

  &_post_picture_1 {
    position: static;
    width: 220px;
    height: 220px;
    border: 4px solid #74c4ff;
    background: url("../images/content/doggy.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_post_picture_2 {
    position: static;
    width: 220px;
    height: 220px;
    border: 4px solid #74c4ff;
    background: url("../images/content/lemur.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_post_picture_3 {
    position: static;
    width: 220px;
    height: 220px;
    border: 4px solid #74c4ff;
    background: url("../images/content/jobs.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_post_picture_4 {
    position: relative;
    width: 220px;
    height: 220px;
    border: 4px solid #74c4ff;
    background: url("../images/content/rapuncel.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_post_text {
    width: 350px;
    padding-left: 15px;
    font-size: 16px;
  }

  &_inset {
    padding-left: 15px;
    text-decoration: underline;
  }
}

.inset {
  padding-left: 15px;
}

.post_text {
  padding-left: 15px;
  padding-right: 100px;
}

.low_posts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 472px;
  padding-top: 150px;
  padding-left: 40px;
  
}

.advertisement {
  display: flex;
  flex-direction: column;

  &_playbill_1 {
    position: relative;
    width: 85px;
    height: 60px;
    border: 2px solid white;
    background: url("../images/content/car.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_playbill_2 {
    position: relative;
    width: 85px;
    height: 60px;
    border: 2px solid white;
    background: url("../images/content/ifon.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
  }

  &_playbill_3 {
    position: relative;
    width: 85px;
    height: 60px;
    border: 2px solid white;
    background: url("../images/content/bbc.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    
  }
  &_poster_text {
    padding-left: 15px;
    padding-right: 100px;
  }
}

.assembly {
  display: inline-flex;
  margin-left: 10px;
}

.wording {
  margin-left: 10px;
}

.poster_name {
  margin-left: 16px;
}

.client {
  width: 91%;
  margin: 0 auto;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_label_1 {
    position: relative;
    width: 195px;
    height: 195px;
    background: url("../images/content/flowers.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    border-radius: 40px;
  }
  &_label_2 {
    position: relative;
    width: 195px;
    height: 195px;
    background: url("../images/content/mma.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    border-radius: 40px;
  }
  &_label_3 {
    position: center;
    width: 195px;
    height: 175px;
    margin-top: 14px;
    background: url("../images/content/beer.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    border-radius: 40px;
  }
  &_label_4 {
    position: relative;
    width: 195px;
    height: 195px;
    background: url("../images/content/samura.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    border-radius: 40px;
  }
  &_label_5 {
    position: relative;
    width: 195px;
    height: 195px;
    background: url("../images/content/custom.png");
    box-shadow: 0px 0px 7px black;
    background-size: cover;
    border-radius: 40px;
  }
}
